body{
    width: 1280px;
    margin:0 auto;
}
.home-section {
    text-align: center;
}

.navbar-option {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px ;
}
.navbar-link{
    text-decoration: none;
    color: #FF0000;
}
.main-block{
    text-align: center;
}
.image {
    weight:310px;
    margin: 0 auto;
    display: block;
}
.big-text{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 49px;
}
.text-block{
    display: inline-block;
    text-align: center;
    padding-left: 68px;
    padding-right: 68px;
}
.get-started-button {
    width: 195px;
    height: 54px;
    background: #FF0000;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 66px;
    text-transform: uppercase;
}
.style-text{
    font-family: Montserrat;
    font-size: 16px;
    color:black;
    letter-spacing: 2px;
}
.text3{
    text-align: right;
    /*margin:25px 300px 55px 300px;*/
    margin-top: 82px;
    margin-right: 105px;
    font-weight: bold;
}
