body{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    font-size: 80px;
    color: #000000;
    text-decoration: none;
    padding-right: 0;
}
.blue-logo{
    color: #4BCAFF;
}
.header-block{
    padding-left: 98px;
    padding-top: 61px;
}
.navbar {
    margin: 20px 0;
}
.navbar-block{
    width: 1283px;
    height: 72px;
    background-color: #35444F;
    display: flex;
    justify-content: center;
}
.item-navbar-block{
   border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 26px 36px 19px 36px;
}
.item-navbar{
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.item-navbar-block:hover{
    background-color:#222F3A;
}
.navbar-item4{
    border-right:none;
}
.main-block{
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
}
.sidebar-list {
    border: 1px solid #000000;
    width: 344px;
    height: 405px;
}

.sidebar-list-item{
    font-size: 27px;
    padding:27px 0px 27px 44px;
    text-decoration: none;
}
.sidebar-list-item:hover {
background-color: #DBDBDB;
}
.sidebar-link{
    text-decoration: none;
    color: #495863;
}
.img-block{
    margin-left: 50px;
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover{
    transform: scale(1.2);
}

.text-block{
    margin-left: 50px;
    margin-top: 37px;
}
.text-content{
    padding-bottom: 34px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    text-decoration: none;
}

.footer-block{
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-left: 100px;
    margin-bottom: 30px;
    display: flex;

}
.footer-navbar{
    width: 928px;
    height: 69px;
    margin-left: 40px;
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
}
.footer-link{
    font-size: 27px;
    text-decoration: none;
    color: black;
}
.footer-link:hover{
    color:#3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
}
.copyright{
    margin-left: 40px;
    margin-top: 24px;
    font-size: 24px;
    color: #010101;
}

